.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: rgb(254, 187, 52);
}

/* Style for the content within the app */
.app-content {
  flex: 1;
}
