/* src/styles/TaskModal.css */

/* Styles for the modal container */
.task-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px; /* Increased width */
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 24px; /* Increased padding */
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  /* Styles for the close button */
  .task-modal .close-button {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  
  /* Title styles */
  .task-modal .modal-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
  
  /* Styles for the form elements */
  .task-modal .form-fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
/* Change color of the save task button */
.task-modal .submit-button {
    align-self: flex-end; /* Align button to the right */
    margin-top: 16px;
    padding: 8px 16px; /* Adjust padding */
    font-size: 1rem; /* Adjust font size */
    background-color: rgb(254, 187, 52);/* Set background color to green */
    color: white; /* Set text color to white */
  }
  
  /* Optional: add hover effect */
  .task-modal .submit-button:hover {
    background-color: #986601; /* Darker green on hover */
  }
  
  